version: 2
updates:
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: monthly
    allow:
      - dependency-type: all
    groups:
      ruby-deps:
        patterns: [ "*" ]
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: monthly
    groups:
      npm-deps:
        patterns: [ "*" ]
  - package-ecosystem: maven
    directory: /resources
    schedule:
      interval: monthly
    groups:
      maven-deps:
        patterns: [ "*" ]
  - package-ecosystem: gradle
    directory: /.gocd
    schedule:
      interval: monthly
    groups:
      maven-deps:
        patterns: [ "*" ]
